# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/

# Django stuff:
*.log
local_settings.py
db.sqlite3


# Ignore local sibling projects tracked in their own repos
rugby-jobs-backend/
rugby-jobs-frontend/

